NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
BRAVE_SEARCH_API_KEY=
WEB_SEARCH_CACHE_TTL_SECONDS=900
LISTING_ENRICHMENT_CACHE_TTL_SECONDS=900
LISTING_IMAGE_CACHE_TTL_SECONDS=3600
LISTING_IMAGE_MAX_BYTES=5000000
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_MARKETPLACE_ID=EBAY_US
EBAY_ENVIRONMENT=sandbox
USE_DEMO_LISTINGS=false
